<app-menu></app-menu>

<div class="row">
    <div class="col-12">
        <button class="float-end" mat-flat-button (click)="listarProfessores()">Listar Professores</button>

        <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Digite sua busca" #input>
        </mat-form-field>     
        
        <div class="mat-elevation-z8">
            <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort>

              <!-- Id -->
              <ng-container matColumnDef="id">
                <th class="th-table" mat-header-cell *matHeaderCellDef> Id </th>
                <td class="td-table" mat-cell *matCellDef="let professor"> {{professor.id}} </td>
              </ng-container>                    
          
              <!-- Nome -->
              <ng-container matColumnDef="nome">
                <th class="th-table" mat-header-cell *matHeaderCellDef> Nome </th>
                <td class="td-table" mat-cell *matCellDef="let professor"> {{professor.nome}} </td>
              </ng-container>
          
              <!-- Cep -->
              <ng-container matColumnDef="cep">
                <th class="th-table" mat-header-cell *matHeaderCellDef> Cep </th>
                <td class="td-table" mat-cell *matCellDef="let professor"> {{professor.cep}} </td>
              </ng-container>
          
              <!-- Logradouro -->
              <ng-container matColumnDef="logradouro">
                <th class="th-table" mat-header-cell *matHeaderCellDef> Logradouro </th>
                <td class="td-table" mat-cell *matCellDef="let professor"> {{professor.logradouro}} </td>
              </ng-container>
          
              <!-- Número -->
              <ng-container matColumnDef="numero">
                <th class="th-table" mat-header-cell *matHeaderCellDef> Número </th>
                <td class="td-table" mat-cell *matCellDef="let professor"> {{professor.numero}} </td>
              </ng-container>

              <!-- Ação -->
              <ng-container matColumnDef="action">
                <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td class="td-table" mat-cell *matCellDef="let element">
                    <mat-icon class="icone-tabela">Visualizar</mat-icon>
                    <mat-icon class="icone-tabela">Alterar</mat-icon>
                    <mat-icon class="icone-tabela">Excluir</mat-icon>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Não foram encontrado dados para a pesquisa  "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[3, 5, 7]"
                           showFirstLastButtons
                           aria-label="Registros por Páginas">
            </mat-paginator>
          </div>
    </div>
</div>